@mixin button-variant($color, $border-color, $bg-color) {
  color: $color;
  border: 1px solid $border-color;
  background-color: $bg-color;
  padding: $btn-padding-y $btn-padding-x;
  border-radius: 24px;
}
